@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tw-shadow-color: rgb(128, 128, 128);
  --color-aquaBlue: 68 200 215;
  --color-smthGreen: 101 204 175;
  --color-tan: 255 228 164;
  --color-lightGray: 234 234 347;
  --color-orange: 255, 157, 50;
  
}

*,
*::before,
*::after {
  box-sizing: "border-box";
}

* {
  margin: "0";
}
